<header class="p-4  flex gap-3 align-items-center w-full justify-content-between flex-row-reverse">
    <div class="profile__items flex align-items-center gap-3 flex-row-reverse">
        <div class="p-1 border-circle surface-0">
            <p-avatar label="FS" styleClass="flex align-items-center" size="large" shape="circle"></p-avatar>
        </div>
        <div class="notification__container cursor-pointer flex align-items-center justify-content-center">
            <i class="fi fi-ss-bell"></i>
        </div>
        <div class="search__container flex cursor-pointer align-items-center justify-content-center">
            <i class="fi fi-br-search"></i>
        </div>
    </div>

    <div class="router__title">
        <h1>Fluxo de caixa</h1>
    </div>
</header>
