<header class="w-full flex p-2 justify-content-between md:justify-content-end align-items-center">
    <button (click)="toggle()" class="md:hidden flex menu__button">
        <i class="pi pi-bars"></i>
    </button>

    <div class="profile__container gap-3 flex flex-row-reverse align-items-center p-2">
        <div class="p-1 border-circle surface-0">
            <p-avatar styleClass="flex align-items-center" image="https://media.istockphoto.com/id/1294339577/photo/young-beautiful-woman.jpg?s=612x612&w=0&k=20&c=v41m_jNzYXQtxrr8lZ9dE8hH3CGWh6HqpieWkdaMAAM=" size="large" shape="circle"></p-avatar>
        </div>

        <div class="header__item flex align-items-center surface-0 border-circle shadow-1 justify-content-center">
            <i class="pi pi-bell"></i>
        </div>
        <div class="header__item flex align-items-center surface-0 border-circle shadow-1 justify-content-center">
            <i class="pi pi-search"></i>
        </div>
    </div>
</header>