.menu__button {
    width: 50px;
    height: 50px;
    background: var(--surface-a);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

header {
    background-color: var(--surface-b);
}

.header__item {
    width: 50px;
    height: 50px;
    cursor: pointer;
}