.sidenav{
    height: 100%;
    transition: all 0.3s ease;
    transform: translateX(-100%);

    &.open {
        transform: translateX(0);
    }

    @media screen and (min-width: 800px) {
        transform: translateX(0);
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;

    .content {
        height: 100%;
        background: #f8f9fd;

        // @media(prefers-color-scheme: dark) {
        //     background: var(--surface-a);
        // }
    }
}

.container__B3B {
    main {
        height: 100%;
    }
}