//Color palette B3 
:root {
    --b3-primary-color: #08377b;

}




// PrimeNG dependencies
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.scss';

// Flaticons lib
@import "~@flaticon/flaticon-uicons/css/all/all";

//Inter font-family
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: 'Inter';
}


// HTML BODY Reset Defaults
html, body {
    padding: 0;
    margin: 0;
    height: 100dvh;
    max-width: 100vw;
}

.fi {
    display: flex;
    align-items: center;
}