// PrimeNG dependencies
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.scss';


// HTML BODY Reset Defaults
html, body {
    padding: 0;
    margin: 0;
    height: 100dvh;
    max-width: 100vw;
}